@import "src/colors";
@import "src/styles";

.location {
  display: flex;
  max-height: 130px;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-lighter;
}


.info {
  display: flex;
}

.info img {
  max-height: 130px;
}

.date-time {
  color: $primary;
}

.detail {
  margin-left: 10px;
}

h5 {
  margin-top: 1rem;
}

div.location.list-item {
  width: 100%;
  margin-left: 0;
}
