.header img {
  width: 100%;
}

.header {
  margin: 30px 0px;
  background-color: rgb(240, 240, 240);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

#performer {
  color: rgb(131, 131, 131);
}

.date {
  margin-bottom: 20px;
  text-align: center;
  width: 30px;
}

#month {
  font-size: 9.5pt;
}

.additional-info h5 {
  height: 32px;
}
