<div class="booking">
  <div class="info">
    <div class="detail">
      <div class="date-wrap">
        <h5>{{booking.createDate | date:'EEEE, MMM d, y HH:mm'}} <span *ngIf="booking.status === 'CANCELLED'">(cancelled)</span></h5>
      </div>
      <div class="btns-wrap">
        <button *ngIf="booking.status != 'RESERVED'" class="secondary" type="button" (click)="onDownloadClick(booking)">Download Invoice</button>
        <button *ngIf="booking.status === 'RESERVED'" class="secondary" type="button" (click)="onBuyClick(booking)">Buy</button>
        <button [ngClass]="{'locked deactivated': inThePast}" *ngIf="booking.status !== 'CANCELLED'" class="secondary" type="button" (click)="onStornoClick(booking)">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let ticket of booking.tickets">
  <div class="ticket list-item offset-1" [routerLink]="['/performance-detail', ticket.performance.id]">
    <div class="info">
      <div class="detail">
        <h5>{{ticket.performance.title}}</h5>
        <span> {{ticket.ticketType.title}} / {{ticket.ticketType.sector.name}}: Seat {{ticket.seat.customLabel}}</span>
        <span class="price"> for {{ticket.ticketType.price / 100 | currency:'EUR'}}</span>
      </div>
    </div>
  </div>
</div>
<hr/>
