<h3>All Orders</h3>

<app-loading-animation *ngIf="loading"></app-loading-animation>

<div>
  <div *ngFor="let booking of bookings">
    <div class="booking list-item">
      <div class="info">
        <div class="detail">
          <h5>{{booking.buyDate | date:'EEEE, MMM d, y HH:mm'}}</h5>
          <!-- <p [routerLink]="['/downloadInvoice']">Click for invoice download</p> -->
        </div>
      </div>
    </div>
    <div *ngFor="let ticket of booking.tickets">
      <div class="ticket list-item offset-1" [routerLink]="['/performance-detail', ticket.performance.id]">
        <div class="info">
          <div class="detail">
            <h5>{{ticket.performance.title}}</h5>
            <span> {{ticket.seats[0]}}x {{ticket.ticketType.title}}</span>
            <span class="price"> à {{ticket.ticketType.price}}€</span>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>

<div>
  <h5 *ngIf="empty">Nothing here yet</h5>
  <h5 *ngIf="!empty">That's all</h5>
</div>


