@import "src/colors";

.location {
  display: flex;
  max-height: 130px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.performance {
  display: flex;
  flex-direction: row;
  max-height: 90px;
  margin-top: 5px;
  align-items: center;
  cursor: pointer;
  background-color: $gray-242;
}

.performance:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.info {
  display: flex;
}

.info img {
  max-height: 130px;
}

.date-time {
  color: #c14953;
}

.detail {
  margin-left: 10px;
}
