<div class="alert alert-danger" role="alert">
  <h1>
    <i class="bi bi-exclamation-octagon"></i>
  </h1>
  <h3>Your account has been suspended</h3>
  <p>
    You don't have access to your profile as your account has been banned. You can still access public information on Ticketline.
    <br/>
    This might have been due to any activity in violation with our Terms of Service.
  </p>
  Reach out to <a href="mailto:sepm.ticketline@gmail.com" class="alert-link">sepm.ticketline@gmail.com</a> to get more info on how to proceed.
</div>
