.venueSelector {
  height: 100%;
  width: 100%;
}

.selector-wrapper {
  width: 100%;
}

.all-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  width: 100%;
}

.venue-l {
  padding-left: 10px;
  margin-right: -20px;
}

.venue-l input {
  width: 100%;
}

#div-btm {
  margin-top: -15px;
}
