### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.cfe
*.si
*.cfs
*.lock
*.fdt
*.fdx
*.fnm
*.nvm
*.nvd
segments_l
segments_b
*.doc
*.pos
*.tim
*.tip

### VS Code ###
.vscode/

### Log-Files ###
log/

### Database-Files ###
/database/
*.mv.db