<article class="article">
    <div class="header">
        <div class="row">
            <div class="col-md-8">
                <img src="assets/placeholder_jumbotron.jpg" alt="">
            </div>
            <div class="col-md-4">
                <div class="details">
                    <div>
                        <div class="date">
                            <div id="month">
                                JUN
                            </div>
                            <div id="day">
                                04
                            </div>
                        </div>
                        <h4><strong>Title of a very exciting Event</strong></h4>
                        <p id="performer">Performer</p>
                        <p>Venue</p>
                        <p>38€</p>
                    </div>
                    <button id="get-tickets">Get tickets</button>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-8">
                <h3>Secondary Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nesciunt, provident ullam veritatis
                    laborum
                    esse. Facilis, voluptate pariatur. Consectetur esse illo nam deleniti omnis totam maxime voluptas
                    voluptates
                    consequatur quas. Accusantium laboriosam molestias deleniti, provident et id magnam explicabo
                    quisquam non
                    enim sunt nesciunt nobis soluta iure corporis libero aut at consequatur blanditiis minus. Alias
                    eveniet
                    provident excepturi debitis quaerat magni rerum illo beatae, omnis, id est saepe deserunt rem
                    aperiam.
                    Dignissimos doloremque libero sapiente eaque ad tempora pariatur minima nobis laborum. Est, iusto
                    libero
                    distinctio officiis, itaque dicta aperiam non quaerat velit sunt suscipit qui? A sint eveniet nisi
                    ipsum,
                    minus dicta deserunt cupiditate ducimus dignissimos blanditiis. Fugiat doloribus eaque ullam
                    laboriosam
                    quidem iste. Consequuntur cupiditate eos suscipit ut. Commodi dolorum iure veritatis! Dolorum
                    dolorem cum
                    ullam itaque molestias. Doloribus voluptate expedita, quasi, praesentium eaque in cumque culpa quos
                    dolor
                    perspiciatis aperiam! Esse, eos in laudantium amet perferendis possimus quos neque quibusdam fugiat,
                    numquam
                    dolorum itaque hic at cum sit optio laborum officia minus consectetur ipsum quo labore deserunt
                    ipsam
                    deleniti? Ad, molestias. Earum sit quod quae voluptatem ipsam quaerat praesentium! In mollitia id
                    repudiandae. Unde eius sit sed fugit omnis voluptatum officia totam reiciendis cum aliquid nobis,
                    exercitationem voluptas. Eius vero iure eos, culpa facere ut quasi eum corporis libero quod,
                    perspiciatis a
                    aspernatur dolores? Dolor pariatur, corrupti explicabo dolores cumque voluptas quibusdam perferendis
                    sit
                    deserunt. Eos, nesciunt accusantium, iste itaque aut velit in labore perferendis repellat rerum
                    reiciendis,
                    officiis facilis. Tenetur cum architecto quos dolores, praesentium ullam vel aperiam alias nulla,
                    vero
                    officia animi sint veritatis consectetur ab odit autem adipisci deserunt. Voluptatum culpa esse,
                    nemo
                    cupiditate id similique. Fugiat et maxime molestiae, labore, provident culpa adipisci at dolore ut
                    tempore
                    nobis ipsa natus mollitia! Voluptates magnam quas tempora architecto quibusdam maxime, ratione eum
                    nobis
                    inventore quia corrupti ducimus. Provident, omnis. Aliquid inventore, saepe dolores nam pariatur
                    itaque
                    mollitia cupiditate voluptatem fuga consectetur quos quo assumenda ratione atque odio unde
                    asperiores
                    reprehenderit nisi soluta error ipsam ducimus perspiciatis commodi aspernatur! In suscipit
                    repudiandae
                    repellendus eum labore modi beatae, rem eveniet quo accusamus possimus ut quia enim dolores rerum
                    natus.
                    Possimus cumque eos vero, ducimus totam hic sapiente sequi, eligendi, impedit reiciendis
                    perspiciatis esse
                    similique illo vel iusto atque dolorum ipsum. Pariatur officia harum obcaecati quas aspernatur
                    ratione
                    aliquid repellendus quaerat? Recusandae iure excepturi quos neque tenetur placeat eveniet quae illo
                    reiciendis maxime esse, consequuntur omnis delectus nostrum fugit similique doloremque saepe
                    asperiores
                    labore in nesciunt nulla et consequatur dolores! Consequuntur, exercitationem dolor iste laudantium
                    libero
                    dolore! Autem obcaecati id corporis expedita assumenda tempore maiores? Ea quaerat optio sapiente
                    nisi ad
                    alias perspiciatis, deserunt porro ducimus repellat. Quod vitae quis dolor minus quae atque delectus
                    corrupti eligendi ullam, nihil possimus exercitationem error pariatur necessitatibus commodi
                    explicabo eos?
                    Nulla sequi quos accusantium temporibus ad distinctio iste earum, nihil vero. Voluptatem enim atque
                    debitis
                    tempore sapiente nihil facere! Quam aliquam corrupti deleniti. Illum quisquam quasi in recusandae
                    voluptate
                    sapiente quos, placeat ducimus provident, repudiandae, magnam cumque tempore reiciendis animi autem!
                </p>
            </div>
            <div class="col-md-4 additional-info">
                <h5>Additional Info</h5>

                <p>
                    Date and Time:<br>
                    Friday, Jun 4, 2021, 21:20 <br>
                    <small><a href="">Add to Calendar</a></small>
                </p>

                <p>Written by: <br>
                    Benedict Armstrong</p>
            </div>
        </div>

    </div>
</article>