<app-search></app-search>

<div class="day">
    <div class="header">
        <h5>Mon. Apr 26</h5>
    </div>
    <div class="events">
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
    </div>
</div>
<div class="day">
    <div class="header">
        <h5>Tue. Apr 27</h5>
    </div>
    <div class="events">
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
    </div>
</div>
<div class="day">
    <div class="header">
        <h5>Wed. Apr 28</h5>
    </div>
    <div class="events">
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
        <app-event-list-item></app-event-list-item>
    </div>
</div>

<div class="text-center more">
    <h4>Load More</h4>
    <h3><a href=""><i class="bi bi-arrow-bar-down"></i></a></h3>
</div>