<div id="sectorTypeGroup">
  <h5>Ticket Types</h5>
  <form class="form" [formGroup]="addTicketTypeForm" (ngSubmit)="addTicketType()">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="ticketTypeTitle" class="required">Ticket Type Title</label>
          <input type="text" name="ticketTypeTitle" formControlName="ticketTypeTitle" class="text-input form-control"
                 id="ticketTypeTitle" placeholder="Enter title">
          <div *ngIf="submitted && addTicketTypeForm.controls.ticketTypeTitle.errors" class="error">
            <small *ngIf="addTicketTypeForm.controls.ticketTypeTitle.errors.required" class="form-text text-danger">
              Ticket Type title is required!
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="ticketTypeMultiplier" class="required">Multiplier</label>
          <input type="number" name="ticketTypeMultiplier" formControlName="ticketTypeMultiplier"
                 class="text-input form-control" id="ticketTypeMultiplier" placeholder="Enter multiplier">
          <div *ngIf="submitted && addTicketTypeForm.controls.ticketTypeMultiplier.errors" class="error">
            <small *ngIf="addTicketTypeForm.controls.ticketTypeMultiplier.errors.required" class="form-text text-danger">
              Multiplier is required!
            </small>
            <small *ngIf="addTicketTypeForm.controls.ticketTypeMultiplier.errors.min" class="form-text text-danger">
              Multiplier must be greater at least 0!
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button class="primary" type="submit">Add ticket type</button>
    </div>
  </form>

  <div *ngIf="ticketTypes.length > 0">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Multiplier</th>
      </tr>
      <tbody>
      <tr *ngFor="let sectorType of ticketTypes; let i = index">
        <td>{{sectorType.title}}</td>
        <td>{{sectorType.multiplier}}</td>
        <td><button type="button" class="btn btn-secondary" style="width: 100%"
                    (click)="removeTicketType(i)">X</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
