<div class="cartItem">
    <div class="row ticketHeader">
        <div class="col-9">
            <span>{{this.cartService.cart[this.i].ticketId}}</span>
        </div>
        <div class="col-3 closeContainer">
            <button class="close" type="button" (click)="removeFromCart()">X</button>
        </div>
    </div>
    <div class="row ticketBody">
        <div class="col-8 counts">
            <form [formGroup]="cartItemForm">
                <div class="inline">
                    <button class="secondary no-shadow no-border" type="button" (click)="decAmount()"><i class="bi bi-dash-circle"></i></button>
                    <input type="number" formControlName="amount" (change)="setAmount()">
                    <button class="secondary no-shadow no-border" type="button" (click)="incAmount()"><i class="bi bi-plus-circle"></i></button>
                </div>
            </form>
        </div>
        <div class="col-4 prices">
            <span class="price">{{10 * cartItemForm.value.amount | currency:'EUR'}}</span>
        </div>
    </div>
</div>