.login {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-options {
  display: flex;
  justify-content: space-between;
}

input[type="email"],
input[type="password"] {
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 1px;
}

label[for="email"],
label[for="password"] {
  margin-bottom: 5px;
  font-size: 10pt;
  opacity: 0.8;
}

input::placeholder {
  opacity: 0.6;
}

.form-group {
  margin: 20px 0px;
}

#forgot {
  text-decoration: none;
}

#signin {
  width: 100%;
  margin: 10px 0px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: rgb(203, 103, 111);
  background: linear-gradient(
    261deg,
    rgba(203, 103, 111, 1) 19%,
    rgba(193, 73, 83, 1) 80%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: white;
  font-weight: 800;
}

#signup {
  width: 100%;
  height: 50px;
  border: none;
  background-color: white;
  font-weight: 800;
  color: rgba(193, 73, 83, 1);
}
