@import "../../../../colors.scss";

.venue-layout-grid {
  padding: 10px;
  width: 100%;
  max-width: 900px;
}

.venue-layout-grid > div {
  display: flex;
  width: 100%;
}

.seat-unit {
  margin: 0.5px;
  width: 100%;
  min-height: 7px;
  min-width: 7px;
  background-color: rgb(241, 241, 241);
}

.seat-unit:hover {
  background-color: $primary;
}
