.grid-unit-wrapper {
  padding: 1.5px;
}

.grid-unit {
  min-height: 12px;
  min-width: 12px;
}

.grid-unit:hover {
  background-color: rgb(221, 255, 210);
}

.grid-unit.available {
  background-color: rgb(238, 238, 238);
}

.grid-unit.available:hover {
  background-color: rgb(255, 210, 210);
}

.grid-unit.sector0 {
  background-color: red;
}
