.grid-unit-wrapper {
  padding: 0.5px;
}

.grid-unit {
  min-height: 12px;
  min-width: 12px;
}

.grid-unit.available {
  background-color: rgb(238, 238, 238);
}

.grid-unit.available:hover {
  background-color: red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
