<div class="login">
    <div class="login-card">
        <h3>Create Account</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ut!</p>
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                            placeholder="Enter your first name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                            placeholder="Enter your last name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
                    placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Enter your password">
            </div>
            <div class="login-options">

            </div>
            <button type="create" name="create" id="create" class="" [routerLink]="['/user']">Create Account</button>
        </form>
    </div>

</div>