@import "src/colors";

@import "src/colors";

.artist {
  display: flex;
  max-height: 130px;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-lighter;
}

.info {
  display: flex;
}

.info img {
  max-height: 130px;
}

.date-time {
  color: $primary;
}

.detail {
  margin-left: 10px;
}

h5 {
  margin: 10px 0;
}
