@import "src/colors";

@import "src/colors";

.artist {
  display: flex;
  max-height: 130px;
  margin: 20px 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: $gray-242;
}

.artist:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.info {
  display: flex;
  cursor: pointer;
}

.info img {
  max-height: 130px;
}

.date-time {
  color: #c14953;
}

.detail {
  margin-left: 10px;
}

h5 {
  margin: 10px 0;
}
