@import "../../../../colors.scss";
@import "src/styles.scss";

h4 {
  margin: 10px 0;
}

.performance {
  display: flex;
  flex-direction: row;
  max-height: 90px;
  margin-top: 5px;
  align-items: center;
  cursor: pointer;
  background-color: $gray-lighter;
}

.performance:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.info {
  display: flex;
}

.more {
  margin: 20px 0;
}

div.performance.list-item {
  width: 100%;
  margin-left: 0;
}
