<div class="jumbotron" [routerLink]="['/performance']">
    <div class="row">
        <div class="col-md-6">
            <div class="main-text" [routerLink]="['/explore']">
                <h1 class="header underline-header">
                  <span>Explore exciting Events</span></h1>
                <p></p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="main-img" src="assets/undraw_compose_music_ovo2.svg" alt="">
        </div>
    </div>


</div>
<app-news></app-news>
