.addUser {
  margin: 0px 10%;
}

input,
select {
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 1px;
}

label {
  margin-bottom: 5px;
  font-size: 10pt;
  opacity: 0.8;
}

input::placeholder {
  opacity: 0.6;
}

.form-group {
  margin: 20px 0px;
}