<nav class="navbar navbar-light navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            ticketline
        </a>

        <form>
            <input class="form-control search text-input" type="search" placeholder="Search" aria-label="Search">
        </form>

        <button class="navbar-toggler custom-toggler custom" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a *ngIf="hasAdminPermission()" class="nav-link" [routerLink]="['add-user']">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['events']">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['news']">News</a>
                </li>
                <li class="nav-item" *ngIf="!this.isLoggedIn()">
                    <a class="nav-link" [routerLink]="['login']">Sign In</a>
                </li>
                <li class="nav-item" *ngIf="this.isLoggedIn()">
                    <a class="nav-link" (click)="this.logoutUser();" [routerLink]="['']">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="toggleCart()">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
