<nav class="navbar navbar-light navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      ticketline
    </a>

    <!--<form>
      <input class="form-control search text-input" type="search" placeholder="Search" aria-label="Search">
    </form>-->

    <button class="navbar-toggler custom-toggler custom" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="nav navbar-nav ms-auto">

        <li *ngIf="hasOrganizerPermission()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li *ngIf="hasAdminPermission()"><a class="dropdown-item" [routerLink]="['add-user']">Add User</a></li>
            <li><a class="dropdown-item" [routerLink]="['add-event']">Add Event</a></li>
            <li><a class="dropdown-item" [routerLink]="['add-venue']">Add Venue</a></li>
          </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['events']">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['news']">News</a>
        </li>
        <li class="nav-item" *ngIf="this.isLoggedIn()">
            <a class="nav-link" [routerLink]="['/user']">My Account</a>
        </li>
        <li class="nav-item cursorPointer" *ngIf="this.isLoggedIn()">
            <a class="nav-link" (click)="toggleCart()">Cart</a>
        </li>
        <li class="nav-item" *ngIf="!this.isLoggedIn()">
            <a class="nav-link" [routerLink]="['login']">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="this.isLoggedIn()">
            <a class="nav-link" (click)="this.logoutUser();" [routerLink]="['']">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
