.card {
    margin-bottom: 13px;
    padding: 8px;
    background: #f7eaeb;

    div.topRow {
        button {
            background: none;
            box-shadow: none;
            color: #cb676f;
            margin: 0px 0px 0px 10px !important;
            padding: 0px;
            width: min-content;
            height: min-content;
            border: 1px black !important;
            border-radius: 0px !important;
        }
    }
    
    div.secondRow {
        button {
            background: none;
            box-shadow: none;
            color: #cb676f;
            margin: 0px !important;
            padding: 0px;
            width: min-content;
            height: min-content;
            border: 1px black !important;
            border-radius: 0px !important;
        }

        input {
            width: 50px;
        }

        .prices {
            text-align: right;
        }
    }
}
