@import "../../../../colors.scss";

.venue-creator {
  padding: 10px;
}

.options {
  display: flex;
}

.toolbar {
  display: flex;
  align-items: center;
}

.divider {
  font-weight: 100;
  font-size: 20pt;
  color: lightgray;
  margin: 0px 5px;
}

.toolbar button {
  margin: 0px 5px;
  width: 80px;
}

.toolbar button.active {
  border: 1px solid $primary;
}

.grid-size {
  display: flex;
  align-items: center;
}

.grid-size input {
  width: 65px;
  margin: 0px 10px;
}

#make-grid {
  width: 100px;
}

.venue-layout-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
