.venue-creator {
  padding: 10px;
}

.grid-size {
  display: flex;
  align-items: center;
}

.grid-size input {
  width: 65px;
  margin: 0px 10px;
}

#make-grid {
  width: 100px;
}

.venue-layout-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
