<form [formGroup]="this.passwordChangeForm" (ngSubmit)="changePassword()">
  <div class="form-group">
    <div *ngIf="passwordError"
         class="form-text alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> <br> {{ passwordErrorMessage }}
      <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="passwordSuccess"
         class="form-text alert alert-success alert-dismissible fade show" role="alert">
      <small> <strong>Success!</strong> <br> The password has been changed.</small>
      <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password"
           class="text-input form-control" id="password" placeholder="Password">
    <div *ngIf="passwordSubmitted && this.passwordChangeForm.controls.password.errors"
         class="error">
      <small class="form-text text-warning"
             *ngIf="this.passwordChangeForm.controls.password.errors.required">Your
        password
        is
        required!
      </small>
      <small class="form-text text-warning"
             *ngIf="this.passwordChangeForm.controls.password.errors.minlength">Your
        password
        must be at least 8 characters long!
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="passwordRepeat">Repeat Password</label>
    <input type="password" name="passwordRepeat" formControlName="passwordRepeat"
           class="text-input form-control" id="passwordRepeat"
           placeholder="Repeat Password">
    <div *ngIf="passwordSubmitted" class="error">
      <small class="form-text text-warning"
             *ngIf="this.passwordChangeForm.value.password !== this.passwordChangeForm.value.passwordRepeat">Your
        passwords must match.
      </small>
    </div>
  </div>
  <button class="primary" type="submit">Change</button>
</form>
