.user-home {
  margin-top: 10px;
}

.user-booking img {
  width: 30pt;
}

.user-info {
  margin: 20px 0;
}

.cards h3 {
  margin: 30px 0;
}

.card {
  min-height: 400px;
}

.card .price {
  text-align: right;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-info .card-body p {
  line-height: 25pt;
}

.expired {
  opacity: 0.5;
}

i {
  font-size: 20pt;
}

.card-title {
  margin-top: 20px;
}

button {
  height: 50px;
}

.user-action-heading:hover {
  cursor: pointer;
}

div.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

div.buttons-wrapper button {
  margin-left: 10px;
  width: 100px;
}

.no-tickets-alert {
  color: gray;
  text-align: center;
  width: 100%;
}
