<div class="event">
    <div class="jumbotron">
        <img src="assets/placeholder_event.jpg" alt="">
    </div>
    <div class="main">
        <div class="header">
            <h3>Titel of Event</h3>
            <p class="info">Subtitle with Date, Time and Venue</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores laboriosam voluptatum nam amet ipsam
                blanditiis deserunt numquam dicta tempora molestias optio, iusto expedita enim, quisquam natus sapiente.
                Ullam deserunt quos repellendus ut, dolor eius aspernatur, nisi voluptates, praesentium accusamus quidem
                odio totam non nostrum dicta.</p>
        </div>
        <div class="body">
            <div class="options row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100 selected">
                        <div class="card-body text-center">
                            <p>We choose the best seat for you</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <p>Choose your own seat</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tickets">
                <p class="text-center">We will try to find seats next to each other</p>
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
            </div>

            <div class="selected-items row">
                <div class="col">
                    <p> 1x Front Frow Ticket for Adults<br>
                        1x Front Frow Ticket for Child</p>
                </div>
                <div class="col prices">
                    <p>EUR 53.00<br>
                        EUR 32.00</p>
                </div>

            </div>

            <div class="checkout">
                <div>
                    <h4>EUR 85.00</h4>
                </div>
                <div class="checkout-buttons">
                    <button class="secondary">Continue Shopping</button>
                    <button class="primary">Checkout</button>
                </div>
            </div>

        </div>
    </div>
</div>