<div id="result-card" class="event list-item" [routerLink]="['/event-detail', eventItem.id]">
    <div class="info">
        <img src="{{previewImageUrl}}" alt="">
        <div class="detail">
            <h5>{{eventItem.name}}</h5>
            <p class="date-time">{{eventItem.startDate | date:'EEEE, MMM d, y HH:mm'}} - {{eventItem.endDate | date:'EEEE, MMM d, y HH:mm'}}</p>
        </div>
    </div>
    <div *ngFor="let performance of eventItem.performances">
      <div class="performance list-item offset-2" [routerLink]="['/performance-detail', performance.id]">
        <div class="info">
          <div>
            <h5>{{performance.title}}</h5>
            <span class="date-time">{{performance.date | date:'EEEE, MMM d, y HH:mm'}}: </span>
            <span class="artist">{{performance.artist.firstName}} {{performance.artist.lastName}}, </span>
            <span class="location">{{performance.venue.name}}</span>
          </div>
        </div>
      </div>
    </div>
</div>
