@import "src/colors";
@import "src/styles.scss";

.performance {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(241, 241, 241);
  max-height: 90px;
  border: 1px solid transparent;
  margin-left: 0;
}

.info {
  display: flex;
}

.info img {
  height: 100px;
}

.date-time {
  color: $primary;
}

.detail {
  margin-left: 15px;
}

#result-card {
  padding-bottom: 10px;
}

#result-card:hover {
  background: white;
}

div.event.list-item {
  width: 100%;
  margin-left: 0;
}

div.performance.list-item {
  width: 100%;
}
