@import "src/colors";

.performance {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(241, 241, 241);
  max-height: 90px;
  border: 1px solid transparent;
}

.performance:hover {
  box-shadow: none;
  border: 1px solid $primary;
}

.info {
  display: flex;
}

.info img {
  height: 100px;
}

.date-time {
  color: $primary;
}

.detail {
  margin-left: 10px;
}
