<div class="login">
  <div class="login-card">
    <div *ngIf="error" class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error! </strong> {{ errorMessage }}
      <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="success" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Password reset link sent to the given email!
      <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3>Ticketline</h3>
    <p></p>
    <form class="form" *ngIf="!resetPassword" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="email" class="text-input form-control" name="email" id="email" formControlName="email"
          aria-describedby="emailHelpId" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input type="password" class="text-input form-control" name="password" id="password" formControlName="password"
          placeholder="Enter your password">
      </div>
      <div class="form-group">
        <input type="checkbox" name="keepLogin" id="keepLogin" formControlName="keepLogin">
        <label for="keepLogin" style="margin-left: 10px">Stay Logged In</label>
      </div>
      <div class="login-options">
      </div>
      <button type="submit" name="signin" id="signin" class="primary">SIGN IN</button>
    </form>
    <div *ngIf="!resetPassword">
      <button class="secondary" type="signup" name="signup" id="signup" [routerLink]="['/register']">SIGN
        UP</button>
    </div>
    <button *ngIf="!resetPassword" class="secondary" type="reset" name="resetPassword" id="resetPassword" (click)="resetPassword = true">Reset Password</button>
    <form *ngIf="resetPassword" [formGroup]="resetPasswordForm" (submit)="reset()">
      <div class="form-group">
        <label for="resetEmail">EMAIL</label>
        <input type="email" class="text-input form-control" name="resetEmail" id="resetEmail" formControlName="resetEmail"
               aria-describedby="resetEmailHelpId" placeholder="Enter your email">
        <button type="submit" name="reset" id="reset" class="primary">Send reset link</button>
      </div>
    </form>
  </div>
</div>
