.login {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-options {
  display: flex;
  justify-content: space-between;
}

label[for="email"],
label[for="password"] {
  margin-bottom: 5px;
  font-size: 10pt;
  opacity: 0.8;
}

.form-group {
  margin: 20px 0px;
}

#forgot {
  text-decoration: none;
}
