.login {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login div {
  width: 400px;
}

.login-options {
  display: flex;
  justify-content: space-between;
}
.form-group {
  margin: 20px 0px;
}

#forgot {
  text-decoration: none;
}
