<div class="login">
    <div class="login-card">
        <div *ngIf="error" class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong> {{ errorMessage }}
            <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h3>Ticketline</h3>
        <p></p>
        <form calss="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="text-input form-control" name="email" id="email" formControlName="email"
                    aria-describedby="emailHelpId" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" class="text-input form-control" name="password" id="password" formControlName="password"
                    placeholder="Enter your password">
            </div>
            <div class="login-options">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember" id="" value="checkedValue">
                        Remember Me
                    </label>
                </div>
                <div>
                    <a href="" id="forgot">Forgot Password?</a>
                </div>
            </div>
            <button type="submit" name="signin" id="signin" class="">SIGN IN</button>
        </form>
        <div>
            <button class="secondary" type="signup" name="signup" id="signup" [routerLink]="['/register']">SIGN
                UP</button>
        </div>
    </div>
</div>