<div class="list-item">
    <div class="row">
        <div class="col-6">
            <h4>{{ticketType.sector.name}} | {{ticketType.title}} ({{ticketCount}} Tickets)</h4>
            <div class="additional-info">
              <span>{{ticketType.sector.description}} | {{ticketType.price / 100 | currency:'EUR'}}</span>
              <div *ngIf="selectSeat" [style]="{'background': this.ticketType.sector.color}" class="color"></div>
            </div>
        </div>
        <div class="col-6 formContainer" *ngIf="!selectSeat">
            <form id="form" class="options" [formGroup]="ticketForm" (ngSubmit)="addToCart()">
                <div class="count inline">
                    <button class="secondary no-shadow no-border" (click)="decAmount()" type="button"><i class="bi bi-dash-circle"></i></button>
                    <input type="number" formControlName="amount" [ngClass]="{'error': validationError}">
                    <button class="secondary no-shadow no-border" (click)="incAmount()" type="button"><i class="bi bi-plus-circle"></i></button>
                </div>
                <button class="add primary" [ngClass]="{'locked': this.waiting || !this.loggedIn}" type="submit">Add to Cart</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div *ngIf="error" class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error! </strong> {{ errorMessage }}
            <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="success" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> The ticket has been added to your cart.
            <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
