<div class="list-item">
    <div>
        <h4>{{ticketType.title}} {{ticketType.sectorType.name}} ({{ticketType.sectorType.numberOfTickets}} Tickets)</h4>
        <p>Best experience | {{ticketType.price | currency:'EUR'}}</p>
    </div>
    <form class="options" [formGroup]="ticketForm" (ngSubmit)="addToCart()">
        <div class="age">
            <select class="form-select" name="age-group" id="age-group">
                <option>Adult</option>
                <option>Child</option>
            </select>
        </div>
        <div class="count inline">
            <button class="secondary no-shadow no-border" (click)="decAmount()" type="button"><i class="bi bi-dash-circle"></i></button>
            <input type="number" formControlName="amount" [ngClass]="{'error': error}">
            <button class="secondary no-shadow no-border" (click)="incAmount()" type="button"><i class="bi bi-plus-circle"></i></button>
        </div>
        <button class="add primary" type="submit">Add to Cart</button>
    </form>
</div>
