<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
    <div class="col">
        <app-news-item></app-news-item>
    </div>
</div>
<div class="text-center more">
    <h3>Load More</h3>
    <h3><a href=""><i class="bi bi-arrow-bar-down"></i></a></h3>
</div>