@import "./colors.scss";

.underline-header {
  span {
    background-image: linear-gradient(
        transparent calc(75% - 15%),
        lighten($secondary-lighter, 40%) 5px,
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    span {
      background-size: 90%;
    }
  }
}
