/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";

body {
  font-family: "Roboto", sans-serif !important;
}

button.primary, button.secondary {
  width: 100%;
  min-width: 45px;
  margin: 10px 0;
  height: 45px;
  border-radius: 10px;
  border: 1px solid $gray-242;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  font-weight: 800;
}

button.primary {
  background: $primary;
  background: linear-gradient(
    261deg,
    $primary 19%,
    $primary-darker 80%
  );
  color: white;
}

button.secondary {
  background: white none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: $primary-darker;
}

button.no-shadow {
  box-shadow: none;
}

button.no-border {
  border: none;
}

button:focus {
  box-shadow: none;
}

input.text-input,
select.select-input {
  border: none;
  font-size: 12pt;
  height: 50px;
  background-color: $gray-242;
  border-radius: 3px;
}

input.text-input:focus {
  background-color: $gray-242;
  outline: none;
  border: none;
  box-shadow: none;
}

input.text-input::placeholder {
  opacity: 0.6;
}

label {
  margin-bottom: 5px;
  font-size: 10pt;
  opacity: 0.8;
}

.alert {
  height: auto;
  vertical-align: middle;
}

button.close {
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  box-shadow: none;
  background: none;
}