@import "src/colors";

.grid-unit-wrapper {
  padding: 1.5px;
}

.grid-unit-wrapper.standing,
.grid-unit-wrapper.stage {
  padding: 0;
}

.grid-unit-wrapper.standing > .grid-unit,
.grid-unit-wrapper.stage > .grid-unit {
  min-height: 15px;
  min-width: 15px;
}

.grid-unit {
  min-height: 12px;
  min-width: 12px;
}

.grid-unit-wrapper.seated .grid-unit:not(.booked):hover {
  transform: scale(1.5);
  border: 1px solid white;
}

.booked {
  opacity: 0.2;
  background-color: $gray-lighter !important;
}

.selected {
  padding: 0;
  height: 15px;
  width: 15px;
}

.selected::before {
  content: '';
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  color: red;
  z-index: 100;
  height: 15px;
  width: 15px;
  background-color: aqua;
}
