@import "src/colors";

.venue-layout-grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20pt 0;
  width: 100%;
}

.venue-layout-grid {
  padding: 10px;
  max-width: 900px;
  counter-reset: row-counter;
}

.venue-layout-grid > div {
  display: flex;
  width: 100%;
  cursor: crosshair !important;
  counter-increment: row-counter;
  counter-reset: col-counter;
}

.venue-layout-grid > div::before {
  content: counter(row-counter);
  color: lightgray;
  font-size: 9px;
  margin-right: 5px;
  width: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.venue-layout-grid > div::after {
  content: counter(row-counter);
  color: lightgray;
  font-size: 9px;
  margin-left: 5px;
  width: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.venue-layout-grid > div:first-child .unit {
  counter-increment: col-counter;
}

.venue-layout-grid > div:first-child .unit::before {
  content: counter(col-counter);
  color: lightgray;
  font-size: 9px;
  display: flex;
  justify-content: center;
  width: 15px;
}

.cart-wrapper {
  height: 500px;
}

.selected-seat-list {
  overflow: scroll;
  width: 100%;
  counter-reset: seat-counter;
  height: 400px;
}

.selected-seat-list > div {
  counter-increment: seat-counter;
}

.selected-seat-list > div > p::before {
  content: counter(seat-counter) ".";
  margin-right: 5px;
  color: $primary;
}

#selected-color rect {
  fill: $tertiary !important;
}
