<h3>Manage Users</h3><br/>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" [class.managing-row]="user.id === managingUser.id">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.firstName + ' ' + user.lastName}}</td>
      <td>{{user.role | titlecase}}</td>
      <td>{{user.status | titlecase}}</td>
      <td>
        <div class="actions-cell">
          <i class="bi bi-three-dots"></i>
          <i [routerLink]="['/edit-user/' + user.id]" class="bi bi-pencil" title="Edit"></i>
          <i class="bi bi-person-x" [class.deactivated]="user.id === managingUser.id" title="Ban"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
