.managing-row {
  background-color: lightcyan;
  font-weight: bold;
}

div.actions-cell {
  display: flex;
  justify-content: space-around;
}

div.actions-cell i.bi:not(.deactivated):hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.deactivated {
  color: lightgray;
}
