@import "../../../colors";

.managing-row {
  background-color: $primary-lighterer;
  font-weight: bold;
}

div.actions-cell {
  display: flex;
  justify-content: space-around;
}

div.actions-cell i.bi:not(.deactivated):hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.deactivated {
  color: lightgray;
}

.center-cell {
  text-align: center;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-wrapper {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.right-wrapper {
  display: flex;
  align-items: center;
  height: 30px;
}

.right-wrapper select {
  margin-left: 10px;
}

.add-user-bi {
  margin-left: 10px;
  font-size: 18pt;
}

.add-user-bi:hover {
  transform: scale(1.25);
  transition: 0.1s;
}
