<div class="search">
    <h1>Find the perfect Event</h1>
    <div class="form-group">
        <!-- <label for="search">Seach</label> -->
        <input type="search" class="form-control search-field" name="search" id="search" aria-describedby="search"
            placeholder="Search for events">
    </div>
    <div class="filters">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            add filters
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Location</label>
                                <div class="col-sm-9">
                                    <input type="city" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">After</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="autoSizingSelect">
                                        <option selected>Choose...</option>
                                        <option value="1">Standing</option>
                                        <option value="2">Seated</option>
                                        <option value="3">Mixed</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button>Apply</button>
                </div>
            </div>

        </div>
    </div>
</div>