<div class="list-item">
    <div>
        <h4>Front Row Ticket</h4>
        <p>Best experience | EUR 53.00</p>
    </div>
    <div class="options">
        <div class="age">
            <!--<label for="age-group" class="col-md-6 col-form-label">Age Group</label>
            <div class="col-md-6"> -->
            <select class="form-select" name="age-group" id="age-group">
                <option>Adult</option>
                <option>Child</option>
            </select>
            <!-- </div> -->
        </div>
        <div class="count">
            <button><i class="bi bi-dash-circle"></i></button>
            0
            <button><i class="bi bi-plus-circle"></i></button>
        </div>
        <button class="add">Add to Cart</button>
    </div>
</div>