<div class="addPerformance">
  <form class="form" [formGroup]="addPerformanceForm" (ngSubmit)="addPerformance()">

    <h3>Add new Performance</h3>

    <div class="form-group">
      <label for="eventName" class="required">Performance name</label>
      <input type="text" name="eventName" formControlName="eventName" class="text-input form-control" id="eventName"
        placeholder="Enter performance name">
      <div *ngIf="submitted && addPerformanceForm.controls.eventName.errors" class="error">
        <small class="form-text text-danger" *ngIf="addPerformanceForm.controls.eventName.errors.required">
          Performance name is required!
        </small>
        <small class="form-text text-danger" *ngIf="addPerformanceForm.controls.eventName.errors.maxLength">
          Performance name cannot be more than 100 characters!
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="required">Description</label>
      <textarea name="description" formControlName="description" rows="3" class="text-input form-control"
        id="description" placeholder="Enter description"></textarea>
      <div *ngIf="submitted && addPerformanceForm.controls.description.errors" class="error">
        <small class="form-text text-danger" *ngIf="addPerformanceForm.controls.description.errors.required">
          Description is required!
        </small>
        <small class="form-text text-danger" *ngIf="addPerformanceForm.controls.description.errors.maxLength">
          Description cannot be more than 100 characters!
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="required">Date</label>
      <input type="datetime-local" name="date" formControlName="date" class="text-input form-control" id="date">
      <div *ngIf="submitted && addPerformanceForm.controls.date.errors" class="error">
        <small class="form-text text-danger" *ngIf="addPerformanceForm.controls.date.errors.required">
          Date is required!
        </small>
        <small class="form-text text-danger" *ngIf="addPerformanceForm.controls.date.errors.invalidDate">
          Date must be in the future!
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="files" class="required">Picture Upload</label>
      <p id="file-info">Supported formats: jpg, jpeg, png. The maximum file size is 1MB.</p>
      <input formControlName="files" id="files" type="file" class="form-control" (change)="onFileChange($event)">
      <div *ngIf="submitted && files.length === 0" class="alert alert-danger">
        <div>Atleast one image required</div>
      </div>
      <div *ngIf="fileNoImage" class="alert alert-danger">
        <div>The uploaded file is no image</div>
      </div>
      <div *ngIf="tooManyFiles" class="alert alert-danger">
        <div>Max. 10 images per performance</div>
      </div>
      <div *ngIf="fileTooBig" class="alert alert-danger">
        <div>File must be smaller than 1MB</div>
      </div>
    </div>

    <div *ngIf="files.length > 0">
      <table class="table">
        <thead>
          <tr>Name</tr>
          <tr style="width: 5%"></tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of files; let i = index">
            <td>{{image.name}}</td>
            <td><button type="button" class="btn btn-secondary" style="width: 100%" (click)="removeImage(i)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />

    <app-add-sectortype [(sectorTypes)]="sectorTypes"></app-add-sectortype>
    <div *ngIf="sectorTypes.length === 0 && submitted" class="alert alert-danger">
        Atleast one sector type required!
    </div>

    <hr />

    <div id="artistGroup">
      <app-add-artist (artistChanged)="changeArtist($event)"></app-add-artist>
      <div *ngIf="artist === undefined && submitted" class="alert alert-danger">
        Artist is required!
      </div>
      <div class="row" id="currentArtist">
        <h5 class="col-3">Current Artist:</h5>
        <div class="col-6" *ngIf="artist">{{artist.firstName}} {{artist.lastName}}</div>
      </div>
    </div>

    <hr />

    <div id="addressGroup">
      <app-add-address (locationChanged)="changeLocation($event)"></app-add-address>
      <div *ngIf="location === undefined && submitted" class="alert alert-danger">
        Location is required!
      </div>
      <div class="row" id="currentLocation">
        <h5 class="col-3">Current Location:</h5>
        <div class="col-6" *ngIf="location">{{location.name}}</div>
      </div>
    </div>

    <button type="button" (click)="addPerformance()" class="primary" id="create">Add performance</button>

    <div *ngIf="error" class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error! </strong> {{ errorMessage }}
      <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="success" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success</strong> The performance is added.
      <button type="button" (click)="vanishAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>
</div>
