<div>
    <h4>Tickets</h4>
    <form class="form" [formGroup]="addCartForm">
        <div class="row" *ngFor="let ticket of tickets; let i = index">
            <div class="col-3">
                <span>{{ticket.name}}</span>
            </div>
            <div class="col-3">
                <span>{{ticket.seating}}</span>
            </div>
            <div class="col-3">
                <span>{{ticket.age}}</span>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <label for="amount">Amount</label>
                    </div>
                    <div class="col-6">
                        <input name="amount" type="number" formControlName="{{ticket.name}}">
                    </div>
                </div>
            </div>
        </div>
        <button id="add" *ngIf="tickets.length > 0" (click)="addToCart()">Add to Cart</button>
    </form>
</div>