<div id="sidebar-cart" *ngIf="cartService.status">
	<div class="row topRow">
		<div class="col-3">
			<button (click)="close()" class="close-button">X</button>
		</div>
		<div class="col-9">
			<h3>Shopping Cart</h3>
		</div>
	</div>
	<div class="products">
		<div class="card" *ngFor="let item of cartService.cart; index as i;">
			<div class="row cardHeader">
				<div class="col-9">
					<span>{{item.name}}</span>
				</div>
				<div class="col-3">
					<button>X</button>
				</div>
			</div>
			<div class="row cardBody">
				<div class="col-8 counts">
					<form>
						<div class="row">
							<div class="col-4">
								<button class="minus-button" id="minus-button-1">-</button>
							</div>
							<div class="col-4">
								<input type="number">
							</div>
							<div class="col-4">
								<button class="plus-button" id="plus-button-1">+</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-4 prices">
					<span class="price">{{item.price}} €</span>
				</div>
			</div>
		</div>
	</div>
	<div class="totals">
		<div class="subtotal">
			<span class="label">Subtotal:</span> <span class="amount">$54.00</span>
		</div>
	</div>
	<div class="buttons">
		<button class="checkout-button">Checkout</button>
	</div>
</div>